/* font-family: 'Bebas Neue', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'PT Sans', sans-serif;*/
/* font-family: 'Hind', sans-serif;

    font-family: 'PT Sans', sans-serif; */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
body.lock {
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Hind", "Arial", sans-serif;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  letter-spacing: 0.6%;
  font-weight: 500;
  line-height: 1.3;
}

main {
  flex-grow: 1;
  background-color: #858888;
}
.header-container {
  display: flex;
  background-color: #4e0000;
}
.header__add-functionality {
  width: 30%;
}
.container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(5, auto);
  gap: 2px;
}

.container > section {
  padding: 10px;
  /* background: #829985; */
  background: linear-gradient(
      to right,
      rgba(180, 180, 180, 0.4) 0%,
      rgba(180, 180, 180, 0.6) 5%,
      rgba(180, 180, 180, 0.8) 30%,
      rgba(180, 180, 180, 1) 100%
    ),
    url(./assets/img/103.jpg);
  background-size: cover;
  background-attachment: fixed;
  border-radius: 3px;
}

.container > section.bg-color {
  background: #d4ccc6;
}
.header__add-functionality {
  display: flex;
  color: #d4ccc6;
  align-items: center;
}
.header__add-functionality > * {
  padding-left: 20px;
  padding-right: 20px;
}
/* .lang-switch {
  display: none;
} */
.icon-printer {
  cursor: pointer;
}
.hamburger-icon {
  display: none;
}
.nav-list {
  display: grid;
  grid-template-columns: repeat(8, auto);
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0px;
  justify-items: auto;
  text-align: center;
}
.nav-item {
  /* border-right: 1px solid #fff; */
  border-left: 1px solid #858888;
  display: grid;
  justify-content: stretch;
}

html {
  scroll-behavior: smooth;
}
.nav {
  width: 70%;
}
pre {
  margin: 0;
}
.reserved-word {
  color: rgb(0, 56, 88);
}
.func-meth-name {
  color: brown;
}
.variable {
  color: #4e0000;
}
.set {
  color: darkgreen;
}
.number {
  color: darkviolet;
}
.sp-word {
  color: darkolivegreen;
}
.nav-link {
  line-height: 50px;
  color: #d4ccc6;
  transition: 0.3s;
  /* padding: 10px 20px; */
  line-height: 50px;
  text-decoration: none;
  text-align: center;
}
.nav-link:hover {
  text-shadow: 0 0 1.5px #fff;
}

.contact-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 55px;
}
.section__profile {
  order: 2;
  display: flex;
  flex-direction: row-reverse;
}
.section__contacts {
  order: 1;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.section__about-me {
  order: 3;
}
.section__skills {
  order: 4;
}
.section__code {
  order: 5;
}
.section__projects {
  order: 6;
}
.section__video {
  order: 8;
}
.section__experience {
  order: 7;
}
.section__education {
  order: 9;
}

.profile-photo {
  width: 150px;
  height: 150px;
  position: relative;
  transform: translate(-50%);
  border: 2px solid #4e0000;
  border-radius: 5px;
}
.main-title {
  font-family: 'Hind', 'Arial', sans-serif;
  margin: 0;
  font-size: 70px;
  font-weight: 500;
  /* text-transform: uppercase; */
  /* letter-spacing: 5px; */
  width: 100%;
  /* color: #1a1c1d; */
  color: #4e0000;
  align-self: center;
  word-spacing: 15px;
  letter-spacing: 0.06rem;
}
.section-title {
  font-family: 'Hind', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  /* letter-spacing: 5px; */
  /* background-color: rgb(175, 231, 233); */
  width: 100%;
  color: #1a1c1d;
}
.title-contacts {
  display: none;
}
.skills-list {
  list-style: none;
}
.skill {
  display: flex;
  /* border: 1px solid #000; */
  padding: 7px 0;
}
.skill__name {
  /* border: 1px solid #f00; */
  width: 40%;
  margin: 0;
  font-weight: 500;
}
.skill__bar {
  display: block;
  width: 100%;
  height: 17px;
  background-color: #d4ccc6;
  border: 1px solid #858888;
  border-radius: 10px;
  overflow: hidden;
}
.skill__bar div {
  height: 15px;
  float: left;
  background-color: #858888;
  border-radius: 10px;
}
.html {
  width: 60%;
}
.css {
  width: 60%;
}
.js {
  width: 40%;
}
.node {
  width: 10%;
}
.git {
  width: 60%;
}
.skill__grade {
  width: 50%;
}
.skill__name_simple {
  width: 100%;
}
.code-title {
  margin-bottom: 0;
}
.organization {
  margin: 0 0 3px;
  font-weight: 500;
}
.duties,
.speciality {
  margin: 0;
  list-style: none;
  font-style: italic;
  font-size: 16px;
}
.speciality {
  padding-left: 10px;
}
.experience-block > * {
  margin-bottom: 15px;
}
.experience-block:last-child {
  margin-bottom: 0;
}
.edication-block > * {
  margin-bottom: 15px;
}
.experience-block:last-child {
  margin-bottom: 0;
}
.link {
  text-decoration: none;
  color: #1a1c1d;
  transition: color 0.5s;
}

.link:hover {
  color: #1a1c1d;
}

.footer-container {
  /* background-color: rgb(175, 231, 233); */
  background-color: #4e0000;
  width: 100%;
  /* border: 2px solid #033245; */
  color: #d4ccc6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.footer__link {
  color: #d4ccc6;
  text-decoration: none;
  cursor: pointer;
}
.rss-icon {
  width: 100px;
  cursor: pointer;
}
.position {
  text-decoration: underline;
  font-size: 16px;
  padding-left: 10px;
}
.contact-link {
  padding: 12px 0;
  line-height: 40px;
  align-self: center;
}
.contact-link::before {
  /* content: ''; */
  padding-right: 10px;
  text-align: center;
  margin-top: 10px;
  align-self: center;
  justify-self: center;
  vertical-align: middle;
}
.contacts-item a {
  color: #1a1c1d;
  text-decoration: none;
  transition: color 0.3s;
}
.contacts-item a:hover {
  color: #4d2323;
}
figure {
  border: 1px solid #4e0000;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.project__img {
  width: 100%;
  display: block;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
}

figcaption {
  background-color: #4e0000;
  color: #d4ccc6;
  font-size: 14px;
  font: 'PT Sans', 'Arial', sans-serif;
  padding: 3px;
  text-align: center;
}
.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  justify-items: stretch;
  align-items: stretch;
  gap: 5px;
}
.project {
  align-self: auto;
}
.project__link {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.my-video {
  width: 100%;
}

#scroll-to-top {
  position: fixed;
  bottom: 100px;
  right: 48px;
  padding: 15px 19px;
  border-radius: 8px;
  box-shadow: 0 4px 24px rgba(75, 0, 0, 0.75);
  transition-property: background, color, bottom, opacity, visibility;
  /* transition-duration: 0.3s; */
}
#scroll-to-top[data-show='false'] {
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}
#scroll-to-top svg {
  color: #000;
  height: 24px;
  width: 24px;
}
#scroll-to-top:hover {
  cursor: pointer;
  background: rgb(78, 0, 0);
  color: #d4ccc6;
}
/* #scroll-to-top:hover svg {
  color: #d4ccc6;
} */

@media (max-width: 1200px) {
  .contact-list {
    padding-left: 0;
  }
}
@media (max-width: 980px) {
  .profile-photo {
    position: static;
    transform: translate(0%);
    display: block;
  }
  .main-title {
    font-size: 55px;
    padding-left: 15px;
  }
  code {
    font-size: 14px;
  }
  .icon-printer {
    display: none;
  }
  .skills-list {
    padding-left: 0;
  }
  .header-container {
    font-size: 14px;
    height: 60px;
  }
}
@media (max-width: 768px) {
  /* бургер */
  .hamburger-icon {
    z-index: 5;
    display: block;
    position: absolute;
    width: 30px;
    height: 18px;
    cursor: pointer;
    right: 30px;
    top: 20px;
  }
  .hamburger-icon span,
  .hamburger-icon::before,
  .hamburger-icon::after {
    position: absolute;
    right: 0;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #d4ccc6;
  }
  .hamburger-icon::before,
  .hamburger-icon::after {
    content: '';
  }
  .hamburger-icon::before {
    top: 0;
  }
  .hamburger-icon::after {
    bottom: 0;
  }
  .hamburger-icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .hamburger-icon.open span {
    transform: scale(0) translate(0px, -50%);
  }
  .hamburger-icon.open::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .hamburger-icon.open::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    background-color: #4e0000;
    padding-left: 60px;
    padding-top: 60px;
    transition: right 0.3s ease 0s;
    font-size: 20px;
  }
  .nav-list.open {
    right: 0;
  }
  .nav-item {
    border-left: none;
    justify-content: flex-start;
  }
  .nav-link {
    text-align: start;
    padding: 7px 0;
  }
  .overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(41, 41, 41, 0.6);
  }
  .profile-photo {
    width: 100px;
    height: 100px;
  }
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(9, auto);
    gap: 2px;
  }

  .main-title {
    text-align: center;
  }
  .section__profile {
    order: 1;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row-reverse;
  }
  .section__contacts {
    order: 3;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .section__about-me {
    order: 2;
    grid-column: 1 / 3;
  }
  .section__skills {
    order: 5;
  }
  .section__code {
    order: 8;
    grid-column: 1 / 3;
    overflow: auto;
  }
  .section__projects {
    order: 6;
  }
  .section__video {
    order: 9;
    grid-column: 1 / 3;
  }
  .section__experience {
    order: 4;
    grid-row: 3 / 5;
  }
  .section__education {
    order: 7;
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
  }
  .section__profile {
    order: 1;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row-reverse;
  }
  .section__contacts {
    order: 3;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .section__about-me {
    order: 2;
    grid-column: 1 / 2;
  }
  .section__skills {
    order: 4;
    grid-column: 1 / 2;
  }
  .section__code {
    order: 5;
    grid-column: 1 / 2;
    overflow: auto;
  }
  .section__projects {
    grid-column: 1 / 2;
    order: 8;
  }
  .section__video {
    order: 9;
    grid-column: 1 / 3;
  }
  .section__experience {
    order: 6;
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }
  .section__education {
    grid-column: 1 / 2;
    order: 7;
  }
  .main-title {
    font-size: 30px;
  }
}

@media print {
  html,
  body {
    height: 297mm;
    width: 210mm;
  }
  *,
  *:before,
  *:after {
    color: #000;
    box-shadow: none;
    text-shadow: none;
  }
  .cv-header {
    display: none;
  }
  .footer {
    display: none;
  }
  .section__video {
    display: none;
  }
  .section__projects {
    display: none;
  }

  .section__profile {
    order: 2;
    display: flex;
    justify-content: center;
    grid-column: 2 / 3;
  }
  .section__contacts {
    order: 1;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  .section__about-me {
    order: 3;
    grid-column: 2 / 3;
  }
  .section__skills {
    order: 4;
    grid-column: 1 / 2;
  }
  .section__code {
    order: 5;
    grid-column: 2 / 3;
  }
  .section__experience {
    order: 7;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  .section__education {
    order: 6;
    padding-right: 30px;
  }

  .contact-list {
    padding-left: 0;
  }
  .profile-photo {
    width: 100px;
    height: 100px;
    position: static;
    transform: translate(0%);
    display: block;
  }
  .main-title {
    font-size: 35px;
    padding-left: 30px;
  }
  .wrapper {
    font-size: 14px;
  }
  code {
    font-size: 12px;
  }
  .section-title {
    margin: 5px 0;
    font-size: 16px;
  }
  section {
    padding-top: 0;
    padding-bottom: 0px;
  }
  .container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(5, auto);
    gap: 0px;
  }
  .experience-line .organization {
    padding-left: 10px;
  }
  .skills-list {
    padding-left: 20px;
  }
  .organization {
    font-size: 16px;
  }
  .skill__bar div {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }
  #scroll-to-top {
    display: none;
  }
}
